PUBLIC_HASURA_URL=http://localhost:8080/v1/graphql

# Invitation redirect base URL for each project (all are deployed on separate domains)
PUBLIC_ADMIN_APP_URL=<admin_app_url>
PUBLIC_INVESTOR_APP_URL=<investor_app_url>
PUBLIC_MERCHANT_APP_URL=<merchant_app_url>